html {
    height: 100%;
}

body {
    height: 100%;
    font-family: arial, sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}


 #nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 35px;
    padding-top: 12px;
    padding-right: 13px;

}

.nav-item {
    padding-right: 15px;
}

.nav-item a {
    opacity: 0.87;
}

a.icon {
    background-image: url(icons.png);
    background-position: -132px -38px;
    background-size: 528px 68px;
    height: 30px;
    width: 30px;
    display: block;
    opacity: 0.55;

}
a.icon:hover {
    opacity: 1;
}

a.avatar {
    background: url(avatar.jpg) center right;
    border-radius: 15px;
    display: block;
    height: 32px;
    width: 32px;
    opacity: 1;
}

#wrapper {
    height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column wrap;
}


.query input {
    padding: 10px 100px;
    border-radius: 10px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(242, 242, 242);
}

.footer1 {
  padding: 13px 30px;
  border-top: 1px solid  rgb(228, 228, 228);
  border-bottom: 1px solid rgb(228, 228, 228);
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}
.footer2 {
  padding: 14px 7px 14px 30px;
  display: flex;
  justify-content: space-between;
}

.footer2 a {
    padding-right: 23px;
    color: rgb(95, 99, 104);

}