html {
    height: 100%;
}

body {
    height: 100%;
    font-family: arial, sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}


 #nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 35px;
    padding-top: 12px;
    padding-right: 13px;

}

.nav-item {
    padding-right: 15px;
}

.nav-item a {
    opacity: 0.87;
}

a.icon {
    background-image: url(icons.png);
    background-position: -132px -38px;
    background-size: 528px 68px;
    height: 30px;
    width: 30px;
    display: block;
    opacity: 0.55;

}
a.icon:hover {
    opacity: 1;
}

a.avatar {
    background: url(avatar.jpg) center right;
    border-radius: 15px;
    display: block;
    height: 32px;
    width: 32px;
    opacity: 1;
}

#wrapper {
    height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column wrap;
}

/* Search Bar Styling */

#query {
    width: 53%;
    height: 8%;
    max-width: 482px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin-top: 20px;
    }

#query:hover, #query:focus-within {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.container {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    height: 100%;
}
 
.query-container {
    flex: 1;
    display: flex;
    height: 32px;
}
.query {
    border: none;
    flex-grow: 1;
    outline: none;
    font: 16px arial,sans-serif;
    line-height: 34px;
    color: rgba(0,0,0,.87);
}

.mic {
    background-image: url('mic.png');
    background-size: 24px;
    height: 24px;
    width: 24px;
}

.loupe {
    width: 20px;
    padding-right:10px;
    opacity: 0.55;
}

/* Test out */

.query:before {
    background-image: url(icons.png);
    background-size: 528px;
    background-position: 224px 223px;
    height: 32px;
    width: 32px;
}




/* Search CTAs */

.search {
    padding-top: 20px;
}

button {
    padding: 10px;
    font-size: 14px;
    background-color: #f2f2f2;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    line-height: 27px;
    height: 36px;
}

button:hover {
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

/* Languages */

.also {
    padding-top: 20px;
}
.also a {
    color: #1a0dab;
    padding-right: 5px;
}
.also a:visited {
    color: #609;
}



/* Footer Styling */

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(242, 242, 242);
}

.footer1 {
  padding: 13px 30px;
  border-top: 1px solid  rgb(228, 228, 228);
  border-bottom: 1px solid rgb(228, 228, 228);
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}
.footer2 {
  padding: 14px 7px 14px 30px;
  display: flex;
  justify-content: space-between;
}

.footer2 a {
    padding-right: 23px;
    color: rgb(95, 99, 104);
}

